{% extends 'navbar.html' %}

{% block content %}

    {% if object_list %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Codele</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Cantón</th>
                    <th scope="col">Distrito</th>
                    <!--<th scope="col">Acción</th>-->

                </tr>
            </thead>
            <tbody>
            {% for d in object_list %}
                <tr>
                    <td id="codele">{{ d.codele }}</td>
                    <td id="provincia">{{ d.provincia }}</td>
                    <td id="canton">{{ d.canton }}</td>
                    <td id="distrito">{{ d.distrito }}</td>
                    <!--<td><button id="info-btn" type="button" onclick="myFunction()">Ver info</button></td>-->
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <script>
            document.getElementById("info-btn").onclick = function() {myFunction()};
            codele = document.getElementById("codele").innerHTML;
            function myFunction() {
                alert('La cantidad de votantes son: ' + codele);
            }
        </script>

        {% if is_paginated %}
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ 1 }}">First</a></li>
                {% if page_obj.previous_page_number != 1 %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
            {% endif %}
            <li><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a> <a>...</a><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != paginator.num_pages %}
                    <li><a href="?page={{page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            {% endif %}
            </ul>

        {% endif %}

    {% else %}
        <li>No data yet.</li>
    {% endif %}

{% endblock %}