{% extends 'navbar.html' %}

{% block content %}

    <h1>Estadísticas</h1>
    <hr>
    <ul>Costa Rica</ul>
    <p><strong>Total de votantes: </strong> {{quantity}}</p>
    <p><strong>Total de mujeres votantes: </strong> {{quantityFG}}</p>
    <p><strong>Total de hombres votantes: </strong> {{quantityMG}}</p>
    <hr>
    <ul> Por provincia</ul>
    <li>San José</li>
    <p><strong>Total de votantes: </strong> {{quantitySJ}}</p>
    <p><strong>Total de mujeres votantes: </strong> {{quantityMSJ}}</p>
    <p><strong>Total de hombres votantes: </strong> {{quantityHSJ}}</p>
    <li>Alajuela</li>
    <p><strong>Total de votantes: </strong> {{quantityA}}</p>
    <p><strong>Total de mujeres votantes: </strong> {{quantityMA}}</p>
    <p><strong>Total de hombres votantes: </strong> {{quantityHA}}</p>
    <li>Cartago</li>
    <p><strong>Total de votantes: </strong> {{quantityC}}</p>
    <p><strong>Total de mujeres votantes: </strong> {{quantityMC}}</p>
    <p><strong>Total de hombres votantes: </strong> {{quantityHC}}</p>
    <li>Heredia</li>
    <p><strong>Total de votantes: </strong> {{quantityH}}</p>
    <p><strong>Total de mujeres votantes: </strong> {{quantityMH}}</p>
    <p><strong>Total de hombres votantes: </strong> {{quantityHH}}</p>
    <li>Puntarenas</li>
    <p><strong>Total de votantes: </strong> {{quantityP}}</p>
    <p><strong>Total de mujeres votantes: </strong> {{quantityMP}}</p>
    <p><strong>Total de hombres votantes: </strong> {{quantityHP}}</p>
    <li>Guanacaste</li>
    <p><strong>Total de votantes: </strong> {{quantityG}}</p>
    <p><strong>Total de mujeres votantes: </strong> {{quantityMGu}}</p>
    <p><strong>Total de hombres votantes: </strong> {{quantityHGu}}</p>
    <li>Limón</li>
    <p><strong>Total de votantes: </strong> {{quantityL}}</p>
    <p><strong>Total de mujeres votantes: </strong> {{quantityML}}</p>
    <p><strong>Total de hombres votantes: </strong> {{quantityHL}}</p>
    <hr>

{% endblock %}