{% extends 'navbar.html' %}

{% block content %}
<div class="container">
    <img src="tse.jpg.jpeg" alt="logo TSE">
</div>

<div class="container">
  <h3>Tribunal Supremo de Elecciones / Padrón Electoral de Costa Rica</h3>
    <p>El Tribunal Supremo de Elecciones de Costa Rica es el órgano supremo electoral de la República de Costa Rica.
        Fue creado en 1949, cuando se promulgó la actual Constitución Política de esta nación centroamericana.
        El Tribunal es el órgano constitucional superior en materia electoral y por lo tanto responsable de la organización,
        dirección y vigilancia de los actos relativos al sufragio.</p>
    <p>Por reforma de la Constitución Política el 5 de junio de 1975, se le otorgó al Tribunal Supremo de Elecciones el
        rango e independencia de los poderes Ejecutivo, Legislativo y Judicial de Costa Rica, por lo que la institución
        es legalmente el cuarto poder de la República.</p>
</div>

{% endblock %}