{% extends 'base.html' %}
{% block content%}
<form  method="GET">
                        {{form}}
                        <input type="submit" value="Send request">
                    </form>
  {% if padrones %}

    <div class="d-flex ">
      <div class="flex-column w-100 ">
        <div class="flex-row">
          <table class="table table-hover">
             <caption>Padron electoral</caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cedula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Sexo</th>
              <th scope="col">Codigo Electoral</th>
              <th scope="col">Junta</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for padron in object_list %}
            <tr>
              <th scope="row"></th>
              <td>{{padron.cedula}}</td>
              <td>{{padron.nombre}}</td>
              <td>{{padron.apellido1}} {{padron.apellido2}}</td>
              <td>{{padron.sexo}}</td>
                <td><a href="/test/{{padron.cedula}}/" class="info-view btn btn-outline-success" >Check Info</a></td>
              <td>{{padron.junta}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>


        <div class="d-flex flex-row justify-content-center">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item ">
                 {% if page_obj.has_previous %}
                 <div class="d-flex justify-content-center">
                    <a class="page-link" href="?page=1{% if request.GET.search_name %}&search_name={{request.GET.search_name}}{% endif %}">&laquo; first</a>
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}{% if request.GET.search_name %}&search_name={{request.GET.search_name}}{% endif %}">previous</a>
                 </div>
                {% endif %}
              </li>
              <li class="page-item ">
                   <a class="page-link" >{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a>
              </li>
              <li class="page-item ">
                  {% if page_obj.has_next %}
                 <div class="d-flex justify-content-center">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}{% if request.GET.search_name %}&search_name={{request.GET.search_name}}{% endif %}">next</a>
                    <a class="page-link" href="?page={{page_obj.paginator.num_pages}}{% if request.GET.search_name %}&search_name={{request.GET.search_name}}{% endif %}">last</a>
                 </div>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  {% else %}
              <h1>No records found!</h1>
  {% endif %}


{% endblock %}

